<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CSS 3D Animated Chart</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <main ng-app="myApp">
  <figure ng-controller="chartCtrl">
    <div peak-chart data="data">
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      <span face></span>
      
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
      <label></label>
    </div>
    <figcaption>
      <button ng-click="paused=!paused">
        {{ paused && '\u25b8' || '\u2759\u2759' }}
      </button>
    </figcaption>
  </figure>
</main>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
